
$gray-color-0: #f6f6f6;
$gray-color-1: #F2F6FC;
$gray-color-2: #EBEEF5;
$gray-color-3: #E4E7ED;
$gray-color-4: #DCDFE6;
$gray-color-5: #C0C4CC;
$gray-color-6: #909399;
$gray-color-7: #808080;
$gray-color-8: #606266;
$gray-color-9: #303133;


$blue-color-1: #ecf5ff;
$blue-color-3: #b3d8ff;
$blue-color-4: #80b5ed;
$blue-color-5: #409eff;//主色
$blue-color-6: #008cc8;
$blue-color-7: #0050a5;

$green-color-1: #f2fcf7;
$green-color-3: #86cba4;
$green-color-5: #68be8d;//主色
$green-color-7: #33a464;
$green-color-8: #278c53;


$yellow-color-1: #fbfcf2;